
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;

}

body{
    width: 100vw;
    height: auto;
    background: radial-gradient(rgb(0, 77, 100),rgb(12, 42, 105));
    overflow-x: hidden;

}

/* Estilizacion del menu de navegacion */

.menu{
    display: flex;
    flex-basis: 100%;
    height: 10vh;
    box-shadow: 1px 15px 20px rgb(0, 33, 75);
    position: sticky;
    top: 0;

}

.nav{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 100%;
    color: white;
    gap:10px;
    border-bottom: 2px solid white;
    background: rgb(1, 92, 153);
   
    
}

.nav::before{
    content: "";
    position: absolute;
    background: white;
    opacity: 0;
    width: 10px;
    height: 100%;
    left: 0;
    
}

.nav:hover::before{
    animation: enfoque 0.5s linear ;
}

@keyframes enfoque{
    0%{
        opacity: 0;
        width: 10px;
    }
    50%{
        opacity: 0.3;
        width: 100%;
    }

    100%{
        opacity: 0;
        width: 100%;
    }

}

.nav img{
    width: 50px;
    height: 50px;

}


.nav a{
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: white;
    text-align: center;
    font-size: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Fin */

.descripcion,.materiales,.pasos{
    margin: auto;
    width: 80%;
    height: 20vh;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    
}

.materiales{
    padding: 35px;
    height: auto;
}

.pasos{
    padding: 35px;
    height: auto;
}

li{
    padding: 5px;
}

h1{
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
}

.video{
    width: 100%;
    height: 70vh;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
}

iframe{
    width: 100%;
    height: 100%;
}